<h2>My Articles List</h2>
<%if confirm_logged_in %>
<table summary = "Articles List" border = "1">
	<tr>
		<th>Article ID</th>
		<th>Category</th>
		<th>Article Name</th>
		<th>Published Date</th>
		<th>Visible</th>
		<th>Action Items</th>
	</tr>
	<%@articles.each do |k|%>
	<tr>
	<td><%= k.id%></td>
	<td><%= k.category%></td>
	<td><%= k.article_name%></td>
	<td><%= k.created_at%></td>
	<td><%= if k.visible = "1" then "Yes" else "No" end%></td>
	<td><%= link_to("Edit",{:action => 'edit',:id => k.id})%>/<%= link_to("Destroy",{:action => 'destroy',:id => k.id})%></td>
	</tr>
	<% end %>
</table>
<% else %>
<% redirect_to(:controller => 'access',:action => 'login') %>
<% end %>