<div class="content">	
	<%= form_tag(:action => 'read') do %>
	<table>
		<tr>
			<td><%= label_tag(:article_name)%></td>
			<td><%= text_field_tag(:article_name)%></td>
		</tr>
		<tr>
			<td><%= label_tag(:content)%></td>
			<td><%= password_field_tag(:content)%></td>
		</tr>
	</table>
	<% end %>
</div>

OR <%= link_to("Back",{:controller => 'welcome',:action => 'index'})%>



